footer {
  font-size: var(--body-font-size-xs);
  color: var(--text-color);
}

footer .footer a {
  color: var(--text-color);
  text-decoration: none;
}

footer .footer a:hover {
  text-decoration: underline;
}

footer .footer > div {
  padding: 28px 48px 67px;
}

footer .footer .default-content-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 24px;
}

footer .footer p {
  display: flex;
  gap: 24px;
  margin: 0;
}
